<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="8a58bba2c10c4dbeb99de60559b9325e" class="chart-container" style="width:500px; height:500px;"></div>
    <script>
        var chart_8a58bba2c10c4dbeb99de60559b9325e = echarts.init(
            document.getElementById('8a58bba2c10c4dbeb99de60559b9325e'), 'white', {renderer: 'canvas'});
        var option_8a58bba2c10c4dbeb99de60559b9325e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "\u6e56\u5317\u5b9c\u5316",
            "data": [
                [
                    28.82,
                    27.21,
                    26.92,
                    29.25
                ],
                [
                    27.21,
                    24.49,
                    24.49,
                    27.39
                ],
                [
                    24.39,
                    24.74,
                    23.85,
                    25.39
                ],
                [
                    24.11,
                    27.21,
                    23.69,
                    27.21
                ]
            ],
            "itemStyle": {
                "color": "#ec0000",
                "color0": "#00da3c",
                "borderColor": "#8A0000",
                "borderColor0": "#008F28"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6e56\u5317\u5b9c\u5316"
            ],
            "selected": {
                "\u6e56\u5317\u5b9c\u5316": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021-11-04",
                "2021-11-05",
                "2021-11-08",
                "2021-11-09"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 0.5
                }
            }
        }
    ],
    "title": [
        {
            "text": "18.78\u9075\u5b88\u7eaa\u5f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8a58bba2c10c4dbeb99de60559b9325e.setOption(option_8a58bba2c10c4dbeb99de60559b9325e);
    </script>
<br/>                <div id="19aec69636c44b4cbf899e2791c32dd0" class="chart-container" style="width:500px; height:500px;"></div>
    <script>
        var chart_19aec69636c44b4cbf899e2791c32dd0 = echarts.init(
            document.getElementById('19aec69636c44b4cbf899e2791c32dd0'), 'white', {renderer: 'canvas'});
        var option_19aec69636c44b4cbf899e2791c32dd0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "\u9732\u7b11\u79d1\u6280",
            "data": [
                [
                    15.93,
                    16.22,
                    15.45,
                    16.42
                ],
                [
                    16.26,
                    15.69,
                    15.55,
                    16.38
                ],
                [
                    16.23,
                    16.51,
                    15.38,
                    16.96
                ],
                [
                    16.29,
                    18.16,
                    16.21,
                    18.16
                ]
            ],
            "itemStyle": {
                "color": "#ec0000",
                "color0": "#00da3c",
                "borderColor": "#8A0000",
                "borderColor0": "#008F28"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u9732\u7b11\u79d1\u6280"
            ],
            "selected": {
                "\u9732\u7b11\u79d1\u6280": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021-11-04",
                "2021-11-05",
                "2021-11-08",
                "2021-11-09"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 0.5
                }
            }
        }
    ],
    "title": [
        {
            "text": "13.64\u9075\u5b88\u7eaa\u5f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_19aec69636c44b4cbf899e2791c32dd0.setOption(option_19aec69636c44b4cbf899e2791c32dd0);
    </script>
<br/>                <div id="5603253fe931460ca58115c5667984af" class="chart-container" style="width:500px; height:500px;"></div>
    <script>
        var chart_5603253fe931460ca58115c5667984af = echarts.init(
            document.getElementById('5603253fe931460ca58115c5667984af'), 'white', {renderer: 'canvas'});
        var option_5603253fe931460ca58115c5667984af = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "\u5eb7\u8fbe\u65b0\u6750",
            "data": [
                [
                    14.29,
                    14.87,
                    13.88,
                    15.27
                ],
                [
                    14.73,
                    15.16,
                    14.52,
                    16.2
                ],
                [
                    15.3,
                    15.98,
                    15.3,
                    16.5
                ],
                [
                    16.2,
                    17.58,
                    15.68,
                    17.58
                ]
            ],
            "itemStyle": {
                "color": "#ec0000",
                "color0": "#00da3c",
                "borderColor": "#8A0000",
                "borderColor0": "#008F28"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5eb7\u8fbe\u65b0\u6750"
            ],
            "selected": {
                "\u5eb7\u8fbe\u65b0\u6750": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021-11-04",
                "2021-11-05",
                "2021-11-08",
                "2021-11-09"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 0.5
                }
            }
        }
    ],
    "title": [
        {
            "text": "12.97\u9075\u5b88\u7eaa\u5f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5603253fe931460ca58115c5667984af.setOption(option_5603253fe931460ca58115c5667984af);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
